<!DOCTYPE html>
<html>

	<head>
		<title>Dashboard Admin</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"/>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>


		<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>

	<body>
		<div class='main-container'>
			<div
				class="sidebar">
				<!-- Start Side Menu -->
				<aside>
					<div class="top">
						<div class="logo">
							<img src="images/main-icon.jpg">
							<h2>EGA<span class="danger">TOR</span>
							</h2>
						</div>
						<div class="close" id="close-btn">
							<span class="material-icons-sharp">close</span>
						</div>
					</div>
					<div class="sidebar">
						<a href="#">
							<span class="material-icons-sharp">grid_view</span>
							<h3>Dashboard</h3>
						</a>
						<a href="#" class="active">
							<span class="material-icons-sharp">grid_view</span>
							<h3>Events</h3>
						</a>
						<a href="#">
							<span class="material-icons-sharp">grid_view</span>
							<h3>Events</h3>
						</a>
						<a href="#">
							<span class="material-icons-sharp">grid_view</span>
							<h3>Events</h3>
						</a>
						<a href="#">
							<span class="material-icons-sharp">grid_view</span>
							<h3>Events</h3>
						</a>
						<a href="#">
							<span class="material-icons-sharp">grid_view</span>
							<h3>Logout</h3>
						</a>
					</div>
				</aside>
				<!-- End Side Menu -->
			</div>
			<div
				class="topbar">
				<!-- Start Top -->
				<div class="top">
					<div class="theme-toggler">
						<span class="material-icons-sharp active">light_mode</span>
						<span class="material-icons-sharp">dark_mode</span>
					</div>
					<div class="profile">
						<div class="info">
							<p>Hey,
								<b>Rafael</b>
							</p>
							{# <small class="text-muted">Admin</small> #}
						</div>
						<div class="profile-photo">
							<img src="images/main-icon.jpg">
						</div>
					</div>
				</div>
				<!-- End Top -->
			</div>
			<div class="main-content">
				{# <h1>Events</h1> #}
				<!-- Start List Table -->
				<div class="main-table">
					<div class="table">
						<h2 class="mb-4">List of Events</h2>
						<!-- Start Search Box -->
						<div class="row justify-content-center mb-3">
							<div class="col-md-4">
								<div class="input-group mb-3">

									<input type="text" class="form-control input-text" placeholder="Search products...." aria-label="Recipient's username" aria-describedby="basic-addon2">
									<div class="input-group-append">
										<button class="btn btn-md btn-outline-warning" type="button">
											<i class="fa fa-search"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="col-md-8">
								<a href="#" class="btn btn-outline-warning float-right mr-4">Create Event</a>
							</div>
						</div>
						<!-- End Search Box -->
						<table>
							<thead>
								<tr>
									<th>Name</th>
									<th>Description</th>
									<th>Points</th>
									<th>Status</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Daily</td>
									<td>Lorem ipsum dolor sit amet consectetur,</td>
									<td>123</td>
									<td class="warning">Pending</td>
									<td class="primary">
										<details class="dropdown">
											<summary role="button">
												<i class="fa fa-2x fa-cog"></i>
												{# <a class="button"></a> #}
											</summary>
											<ul>
												<li><a href="#">Edit</a></li>
												<li><a href="#">Delete</a></li>
											</ul>
										</details>
									</td>
								</tr>
								<tr>
									<td>Daily</td>
									<td>Lorem ipsum dolor sit amet consectetur,</td>
									<td>123</td>
									<td class="warning">Pending</td>
									<td class="primary">
										<details class="dropdown">
											<summary role="button">
												<i class="fa fa-2x fa-cog"></i>
											</summary>
											<ul>
												<li><a href="#">Edit</a></li>
												<li><a href="#">Delete</a></li>
											</ul>
										</details>
									</td>
								</tr>
								<tr>
									<td>Daily</td>
									<td>Lorem ipsum dolor sit amet consectetur,</td>
									<td>123</td>
									<td class="warning">Pending</td>
									<td class="primary">
										<details class="dropdown">
											<summary role="button">
												<i class="fa fa-2x fa-cog"></i>
											</summary>
											<ul>
												<li><a href="#">Edit</a></li>
												<li><a href="#">Delete</a></li>
											</ul>
										</details>
									</td>
								</tr>
								<tr>
									<td>Daily</td>
									<td>Lorem ipsum dolor sit amet consectetur,</td>
									<td>123</td>
									<td class="warning">Pending</td>
									<td class="primary">
										<details class="dropdown">
											<summary role="button">
												<i class="fa fa-2x fa-cog"></i>
											</summary>
											<ul>
												<li><a href="#">Edit</a></li>
												<li><a href="#">Delete</a></li>
											</ul>
										</details>
									</td>
								</tr>
								<tr>
									<td>Daily</td>
									<td>Lorem ipsum dolor sit amet consectetur,</td>
									<td>123</td>
									<td class="warning">Pending</td>
									<td class="primary">
										<details class="dropdown">
											<summary role="button">
												<i class="fa fa-2x fa-cog"></i>
											</summary>
											<ul>
												<li><a href="#">Edit</a></li>
												<li><a href="#">Delete</a></li>
											</ul>
										</details>
									</td>
								</tr>
								<tr>
									<td>Daily</td>
									<td>Lorem ipsum dolor sit amet consectetur,</td>
									<td>123</td>
									<td class="warning">Pending</td>
									<td class="primary">
										<details class="dropdown">
											<summary role="button">
												<i class="fa fa-2x fa-cog"></i>
											</summary>
											<ul>
												<li><a href="#">Edit</a></li>
												<li><a href="#">Delete</a></li>
											</ul>
										</details>
									</td>
								</tr>
								<tr>
									<td>Daily</td>
									<td>Lorem ipsum dolor sit amet consectetur,</td>
									<td>123</td>
									<td class="warning">Pending</td>
									<td class="primary">
									<details class="dropdown">
										<summary role="button">
											<i class="fa fa-2x fa-cog"></i>
										</summary>
										<ul>
											<li><a href="#">Edit</a></li>
											<li><a href="#">Delete</a></li>
										</ul>
									</details></td>
								</tr>
							</tbody>
						</table>
					</div>
					{# <a href="#">Show all</a> #}
					<!-- End List Table -->
				</div>
			</div>
		</div>
	</body>
	<footer class="pt-3">
		<div class="container">
			<p>Copyright &copy; 2023 Rafael Nieto Soto | All Rigth Reserved
				{# <a href="#">Privacy Policy</a>
				&middot;
				<a href="#">Terms &amp; Conditions</a> #}
			</p>
		</div>
	</footer>
	<script src="js/script.js"></script>
</html>
