<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <div class="container">
        <!-- Start Side Menu -->
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="images/main-icon.jpg">
                    <h2>EGA<span class="danger">TOR</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>
            <div class="sidebar">
                <a href="#">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="#" class="active">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Events</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Events</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Events</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Events</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <!-- End Side Menu -->

        <main>
            <h1>Dashboard</h1>
            {# <div class="date">
                <input type="date">
            </div> #}
            <!-- Start List Table -->
            <div class="recent-orders">
                <h2>List of Events</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Points</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Daily</td>
                            <td>Lorem ipsum dolor sit amet consectetur,</td>
                            <td>123</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Daily</td>
                            <td>Lorem ipsum dolor sit amet consectetur,</td>
                            <td>123</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Daily</td>
                            <td>Lorem ipsum dolor sit amet consectetur,</td>
                            <td>123</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Daily</td>
                            <td>Lorem ipsum dolor sit amet consectetur,</td>
                            <td>123</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Daily</td>
                            <td>Lorem ipsum dolor sit amet consectetur,</td>
                            <td>123</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Daily</td>
                            <td>Lorem ipsum dolor sit amet consectetur,</td>
                            <td>123</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Daily</td>
                            <td>Lorem ipsum dolor sit amet consectetur,</td>
                            <td>123</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                    </tbody>
                </table>
                <a href="#">Show all</a>
            </div>
            <!-- End List Table -->
        </main>

        <!-- Start Top -->
        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>Daniel</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="images/main-icon.jpg">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Top -->

        <!-- Start Top -->
        <!-- End Top -->

    </div>
</body>
<script src="js/script.js"></script>

</html>