<div class="sidebar">
	<aside>
		<div class="top">
			<div class="logo">
				<img src="images/icon-leaf.png">
				<h2>DASH<span class="danger">BOARD</span>
				</h2>
			</div>
			<div class="close" id="close-btn">
				<span class="material-icons-sharp">close</span>
			</div>
		</div>
		<div class="sidebar">
			<a href="#">
				<span class="material-icons-sharp">grid_view</span>
				<h3>Dashboard</h3>
			</a>
			<a href="#" class="active">
				<span class="material-icons-sharp">grid_view</span>
				<h3>Events</h3>
			</a>
			<a href="#">
				<span class="material-icons-sharp">grid_view</span>
				<h3>Events</h3>
			</a>
			<a href="#">
				<span class="material-icons-sharp">grid_view</span>
				<h3>Events</h3>
			</a>
			<a href="#">
				<span class="material-icons-sharp">grid_view</span>
				<h3>Events</h3>
			</a>
			<a href="#">
				<span class="material-icons-sharp">grid_view</span>
				<h3>Logout</h3>
			</a>
		</div>
	</aside>
</div>
