<div class="topbar">
	<div class="top">
		<div class="theme-toggler">
			<span class="material-icons-sharp active">light_mode</span>
			<span class="material-icons-sharp">dark_mode</span>
		</div>
		<div class="profile">
			<div class="info">
			<a href="/{{ app.user ? 'logout' : 'login' }}">
			{{ app.user ? 'Logout' : 'Login' }}
			</a>

				<p>Hey,
					<b>Rafael</b>
				</p>
				{# <small class="text-muted">Admin</small> #}
			</div>
			<div class="profile-photo">
				<img src="images/user_default.png">
			</div>
		</div>
	</div>
</div>
